In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv('book_sample.csv')

In [3]:
books

,Rating,Publication Cost,ISBN,Book Title,Year,Genres,Link,Total Revenue,Book URL
0,4.40,136455.0,0439023483,"The Hunger Games (The Hunger Games, #1)",2008,"young-adult, science-fiction, dystopia, fantas...",dir01/2767052-the-hunger-games.html,2958974.0,https://www.goodreads.com/author/show/153394.S...
1,4.41,16648.0,0439358078,Harry Potter and the Order of the Phoenix (Har...,2003,"fantasy, young-adult, fiction, fantasy, magic,...",dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...,1284478.0,https://www.goodreads.com/author/show/1077326....
2,3.56,85746.0,0316015849,"Twilight (Twilight, #1)",2005,"young-adult, fantasy, romance, paranormal, vam...",dir01/41865.Twilight.html,2579564.0,https://www.goodreads.com/author/show/941441.S...
3,4.23,47906.0,0061120081,To Kill a Mockingbird,1960,"classics, fiction, historical-fiction, academi...",dir01/2657.To_Kill_a_Mockingbird.html,2078123.0,https://www.goodreads.com/author/show/1825.Har...
4,4.23,34772.0,0679783261,Pride and Prejudice,1813,"classics, fiction, romance, historical-fiction...",dir01/1885.Pride_and_Prejudice.html,1388992.0,https://www.goodreads.com/author/show/1265.Jan...
...,...,...,...,...,...,...,...,...,...
5992,4.37,28.0,0393062260,The Book of Psalms,2007,"poetry, religion, christian, religion, theolog...",dir60/1251125.The_Book_of_Psalms.html,242.0,https://www.goodreads.com/author/show/62157.Ro...
5993,4.17,2226.0,0767913736,The River of Doubt,2005,"history, non-fiction, biography, adventure, bo...",dir60/78508.The_River_of_Doubt.html,16618.0,https://www.goodreads.com/author/show/44565.Ca...
5994,3.99,775.0,1416909427,Shug,2006,"young-adult, realistic-fiction, romance, conte...",dir60/259068.Shug.html,6179.0,https://www.goodreads.com/author/show/151371.J...
5995,3.78,540.0,1620612321,Flawed,2012,"contemporary, romance, young-adult, sociology,...",dir60/13503247-flawed.html,2971.0,https://www.goodreads.com/author/show/5761314....
5996,4.35,61.0,0786929081,Legacy of the Drow Collector's Edition (Legacy...,2001,"fiction, fantasy, magic, science-fiction-fanta...",dir60/66677.Legacy_of_the_Drow_Collector_s_Edi...,3982.0,https://www.goodreads.com/author/show/1023510....

In [6]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5997 entries, 0 to 5996
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rating            5997 non-null   float64
 1   Publication Cost  5997 non-null   float64
 2   ISBN              5997 non-null   object
 3   Book Title        5997 non-null   object
 4   Year              5997 non-null   int64
 5   Genres            5997 non-null   object
 6   Link              5997 non-null   object
 7   Total Revenue     5997 non-null   float64
 8   Book URL          5997 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 421.8+ KB

In [15]:
#books.drop(columns = (['Publication Cost'], ['Link'],['Total Revenue'],['Book URL']), inplace = True)
books.drop(columns = ['Total Revenue'], inplace = True)

In [17]:
books.drop(columns = ['Link'], inplace = True)

In [19]:
books.drop(columns = ['Book URL'], inplace = True)

In [20]:
books

,ISBN,Book Title,Year,Genres
0,0439023483,"The Hunger Games (The Hunger Games, #1)",2008,"young-adult, science-fiction, dystopia, fantas..."
1,0439358078,Harry Potter and the Order of the Phoenix (Har...,2003,"fantasy, young-adult, fiction, fantasy, magic,..."
2,0316015849,"Twilight (Twilight, #1)",2005,"young-adult, fantasy, romance, paranormal, vam..."
3,0061120081,To Kill a Mockingbird,1960,"classics, fiction, historical-fiction, academi..."
4,0679783261,Pride and Prejudice,1813,"classics, fiction, romance, historical-fiction..."
...,...,...,...,...
5992,0393062260,The Book of Psalms,2007,"poetry, religion, christian, religion, theolog..."
5993,0767913736,The River of Doubt,2005,"history, non-fiction, biography, adventure, bo..."
5994,1416909427,Shug,2006,"young-adult, realistic-fiction, romance, conte..."
5995,1620612321,Flawed,2012,"contemporary, romance, young-adult, sociology,..."
5996,0786929081,Legacy of the Drow Collector's Edition (Legacy...,2001,"fiction, fantasy, magic, science-fiction-fanta..."

In [22]:
books['Genres'] = books['Genres'].str.replace(",", " ")

In [125]:
books['Genres'][0]

'young-adult science-fiction dystopia fantasy science-fiction romance adventure book-club young-adult teen apocalyptic post-apocalyptic action'

In [25]:
books

,ISBN,Book Title,Year,Genres
0,0439023483,"The Hunger Games (The Hunger Games, #1)",2008,"[young-adult, science-fiction, dystopia, fanta..."
1,0439358078,Harry Potter and the Order of the Phoenix (Har...,2003,"[fantasy, young-adult, fiction, fantasy, magic..."
2,0316015849,"Twilight (Twilight, #1)",2005,"[young-adult, fantasy, romance, paranormal, va..."
3,0061120081,To Kill a Mockingbird,1960,"[classics, fiction, historical-fiction, academ..."
4,0679783261,Pride and Prejudice,1813,"[classics, fiction, romance, historical-fictio..."
...,...,...,...,...
5992,0393062260,The Book of Psalms,2007,"[poetry, religion, christian, religion, theolo..."
5993,0767913736,The River of Doubt,2005,"[history, non-fiction, biography, adventure, b..."
5994,1416909427,Shug,2006,"[young-adult, realistic-fiction, romance, cont..."
5995,1620612321,Flawed,2012,"[contemporary, romance, young-adult, sociology..."
5996,0786929081,Legacy of the Drow Collector's Edition (Legacy...,2001,"[fiction, fantasy, magic, science-fiction-fant..."

In [42]:
books.Book_Title[0]

'The Hunger Games (The Hunger Games, #1)'

- Removing special characters from dataset

In [49]:
books['Book_Title'] = books['Book_Title'].apply(lambda x: ''.join(char for char in x if char.isalnum() or char.isspace()))

### Converting Strings to lists

In [24]:
books['Genres'] = books['Genres'].apply(lambda x:x.split())

In [53]:
books['Book_Title'] = books['Book_Title'].apply(lambda x:x.split())

In [54]:
books

,ISBN,Book_Title,Year,Genres
0,0439023483,"[The, Hunger, Games, The, Hunger, Games, 1]",2008,"[young-adult, science-fiction, dystopia, fanta..."
1,0439358078,"[Harry, Potter, and, the, Order, of, the, Phoe...",2003,"[fantasy, young-adult, fiction, fantasy, magic..."
2,0316015849,"[Twilight, Twilight, 1]",2005,"[young-adult, fantasy, romance, paranormal, va..."
3,0061120081,"[To, Kill, a, Mockingbird]",1960,"[classics, fiction, historical-fiction, academ..."
4,0679783261,"[Pride, and, Prejudice]",1813,"[classics, fiction, romance, historical-fictio..."
...,...,...,...,...
5992,0393062260,"[The, Book, of, Psalms]",2007,"[poetry, religion, christian, religion, theolo..."
5993,0767913736,"[The, River, of, Doubt]",2005,"[history, non-fiction, biography, adventure, b..."
5994,1416909427,[Shug],2006,"[young-adult, realistic-fiction, romance, cont..."
5995,1620612321,[Flawed],2012,"[contemporary, romance, young-adult, sociology..."
5996,0786929081,"[Legacy, of, the, Drow, Collectors, Edition, L...",2001,"[fiction, fantasy, magic, science-fiction-fant..."

### converting "titles" and "genres" into Strings

In [101]:
books['Book_Title'] = books['Book_Title'].apply(lambda x: " ".join(x))

In [105]:
books['Genres'] = books['Genres'].apply(lambda x: " ".join(x))

#### Converting all the columns to lower cases

In [108]:
books['Book_Title'] = books['Book_Title'].apply(lambda x: x.lower())

In [109]:
books['Genres'] = books['Genres'].apply(lambda x: x.lower())

In [110]:
books.head()

,ISBN,Book_Title,Year,Genres
0,0439023483,the hunger games the hunger games 1,2008,young-adult science-fiction dystopia fantasy s...
1,0439358078,harry potter and the order of the phoenix harr...,2003,fantasy young-adult fiction fantasy magic chil...
2,0316015849,twilight twilight 1,2005,young-adult fantasy romance paranormal vampire...
3,0061120081,to kill a mockingbird,1960,classics fiction historical-fiction academic s...
4,0679783261,pride and prejudice,1813,classics fiction romance historical-fiction li...

In [111]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [116]:
vectors = cv.fit_transform(books['Genres']).toarray()

In [117]:
cv.fit_transform(books['Genres']).toarray().shape

(5997, 489)

In [118]:
vectors

array([[0, 0, 0, ..., 2, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 2, 0, 0],
       ...,
       [0, 0, 0, ..., 3, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [123]:
cv.get_feature_names_out()

array(['14th', '15th', '16th', '17th', '18th', '19th', '20th', 'a9e',
       'abuse', 'academia', 'academic', 'acceptance', 'action',
       'activism', 'adolescence', 'adoption', 'adult', 'adventure',
       'africa', 'african', 'age', 'aliens', 'alternate', 'american',
       'americana', 'anarchism', 'ancient', 'angels', 'animal', 'animals',
       'anime', 'anthologies', 'anthropology', 'anthropomorphic',
       'apocalyptic', 'architecture', 'art', 'arthurian', 'asia', 'asian',
       'astronomy', 'atheism', 'australia', 'authors', 'autobiography',
       'bande', 'banned', 'baseball', 'basketball', 'batman', 'bdsm',
       'beast', 'beauty', 'belgian', 'belgium', 'biography', 'biology',
       'birds', 'bizarro', 'boarding', 'boiled', 'book', 'books', 'brain',
       'brazil', 'british', 'buddhism', 'bulgaria', 'bulgarian',
       'business', 'c3', 'canada', 'canadian', 'canon', 'cartoon',
       'category', 'catholic', 'cats', 'century', 'chapter', 'chess',
       'chick', 'childrens', 'china', 'chinese', 'christian',
       'christianity', 'christmas', 'church', 'cities', 'civil',
       'classic', 'classical', 'classics', 'clean', 'club', 'collection',
       'collections', 'college', 'colonial', 'comedy', 'comic', 'comics',
       'coming', 'comix', 'communication', 'computer', 'contemporary',
       'cookbooks', 'cooking', 'counter', 'cozy', 'crafts', 'crafty',
       'crime', 'criticism', 'cthulhu', 'culinary', 'cult', 'cults',
       'cultural', 'culture', 'cyberpunk', 'cycling', 'czech', 'danish',
       'dark', 'dc', 'death', 'demons', 'denmark', 'design', 'dessin',
       'detective', 'development', 'diary', 'dictionaries', 'dinosaurs',
       'disability', 'dogs', 'dragonlance', 'dragons', 'drama', 'drawing',
       'drink', 'dungeons', 'dutch', 'dying', 'dystopia', 'earth',
       'eastern', 'ecology', 'economics', 'education', 'egypt',
       'egyptian', 'engineering', 'english', 'environment', 'epic',
       'erotic', 'erotica', 'esoterica', 'espionage', 'essays',
       'european', 'evolution', 'fables', 'fae', 'fairies', 'fairy',
       'faith', 'family', 'fantasy', 'fat', 'favorites', 'female',
       'feminism', 'fi', 'fiction', 'film', 'finnish', 'fitness', 'folk',
       'folklore', 'food', 'foodie', 'football', 'forgotten', 'france',
       'french', 'funny', 'future', 'games', 'gaming', 'gardening', 'gay',
       'gender', 'genetics', 'geography', 'georgian', 'german', 'germany',
       'ghost', 'ghosts', 'glbt', 'god', 'gods', 'gothic', 'government',
       'grade', 'graphic', 'greece', 'greek', 'guides', 'hard',
       'harlequin', 'health', 'help', 'heroic', 'high', 'hinduism',
       'historical', 'history', 'holiday', 'holland', 'holocaust',
       'horror', 'horse', 'horses', 'humanities', 'humor', 'hungarian',
       'hungary', 'ii', 'illness', 'india', 'indian', 'indonesian',
       'inspirational', 'inspired', 'international', 'interracial',
       'iran', 'ireland', 'irish', 'islam', 'israel', 'issues', 'italian',
       'italy', 'japan', 'japanese', 'jewish', 'josei', 'journal',
       'journalism', 'judaism', 'justice', 'juvenile', 'kenya', 'kids',
       'komik', 'language', 'latin', 'law', 'lds', 'leadership', 'legal',
       'lesbian', 'life', 'light', 'lit', 'literary', 'literature',
       'logic', 'love', 'lovecraftian', 'low', 'magic', 'magical',
       'management', 'manga', 'maritime', 'marriage', 'marvel',
       'mathematics', 'media', 'medical', 'medicine', 'medieval',
       'memoir', 'men', 'menage', 'mental', 'mermaids', 'metaphysics',
       'middle', 'military', 'modern', 'mormonism', 'mountaineering',
       'movements', 'movies', 'murder', 'music', 'musicians', 'mystery',
       'mysticism', 'mythology', 'mythos', 'natural', 'nature', 'near',
       'neuroscience', 'new', 'nobel', 'noir', 'non', 'novel', 'novels',
       'nutrition', 'occult', 'opera', 'outdoors', 'paganism', 'pakistan',
       'paranormal', 'parenting', 'personal', 'philosophy', 'photography',
       'physics', 'picture', 'pirates', 'planetary', 'planning',
       'playing', 'plays', 'poetry', 'poland', 'polish', 'political',
       'politics', 'pop', 'popular', 'portugal', 'portuguese', 'post',
       'poverty', 'prehistoric', 'prehistory', 'presidents', 'princesses',
       'prize', 'productivity', 'psychological', 'psychology', 'pulp',
       'queer', 'rabbits', 'race', 'racing', 'read', 'readers', 'realism',
       'realistic', 'realms', 'reference', 'regency', 'relationships',
       'religion', 'retellings', 'revolution', 'road', 'robots', 'rock',
       'role', 'roll', 'roman', 'romance', 'romania', 'romanian',
       'romantic', 'russia', 'russian', 'satanism', 'scandinavian',
       'school', 'sci', 'science', 'scotland', 'scripture', 'self',
       'sequential', 'serbian', 'sexuality', 'shapeshifters', 'shojo',
       'shonen', 'short', 'skepticism', 'slice', 'social', 'society',
       'sociology', 'soldiers', 'sorcery', 'southern', 'space', 'spain',
       'spanish', 'speculative', 'spirituality', 'splatterpunk', 'sports',
       'spy', 'star', 'states', 'steampunk', 'stories', 'story',
       'storytime', 'strips', 'studies', 'superheroes', 'superman',
       'supernatural', 'surreal', 'survival', 'suspense',
       'sustainability', 'swashbuckling', 'sweden', 'swedish', 'sword',
       'tale', 'tales', 'taoism', 'tasmania', 'teachers', 'teaching',
       'technical', 'technology', 'teen', 'terrorism', 'textbooks',
       'theatre', 'theology', 'theory', 'thriller', 'tie', 'time',
       'tragedy', 'trans', 'transgender', 'travel', 'travelogue', 'trip',
       'true', 'turkish', 'ukraine', 'unicorns', 'united', 'urban',
       'urbanism', 'utopia', 'vampires', 'vegan', 'video', 'walking',
       'war', 'wars', 'weird', 'werewolves', 'western', 'wicca',
       'wilderness', 'wildlife', 'witches', 'wizards', 'wolves', 'womens',
       'world', 'writing', 'york', 'young', 'zen', 'zombies'],
      dtype=object)

In [120]:
vectors[456]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 3, 0, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0], dtype=int64)

In [121]:
import nltk

In [122]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [124]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [126]:
stem('young-adult science-fiction dystopia fantasy science-fiction romance adventure book-club young-adult teen apocalyptic post-apocalyptic action')

'young-adult science-fict dystopia fantasi science-fict romanc adventur book-club young-adult teen apocalypt post-apocalypt action'

In [127]:
books['Genres'] = books['Genres'].apply(stem)

In [128]:
books.describe()

              Year
count  5997.000000
mean   1969.078873
std     185.320710
min   -1500.000000
25%    1980.000000
50%    2002.000000
75%    2009.000000
max    2014.000000

In [129]:
from sklearn.metrics.pairwise import cosine_similarity

In [130]:
similarity = cosine_similarity(vectors)

In [131]:
similarity.shape

(5997, 5997)

In [132]:
similarity[0]

array([1.        , 0.59642005, 0.47147708, ..., 0.57306826, 0.4466625 ,
       0.29180696])

In [133]:
books

,ISBN,Book_Title,Year,Genres
0,0439023483,the hunger games the hunger games 1,2008,young-adult science-fict dystopia fantasi scie...
1,0439358078,harry potter and the order of the phoenix harr...,2003,fantasi young-adult fiction fantasi magic chil...
2,0316015849,twilight twilight 1,2005,young-adult fantasi romanc paranorm vampir fic...
3,0061120081,to kill a mockingbird,1960,classic fiction historical-fict academ school ...
4,0679783261,pride and prejudice,1813,classic fiction romanc historical-fict literat...
...,...,...,...,...
5992,0393062260,the book of psalms,2007,poetri religion christian religion theolog ref...
5993,0767913736,the river of doubt,2005,histori non-fict biographi adventur book-club ...
5994,1416909427,shug,2006,young-adult realistic-fict romanc contemporari...
5995,1620612321,flawed,2012,contemporari romanc young-adult sociolog abus ...
5996,0786929081,legacy of the drow collectors edition legacy o...,2001,fiction fantasi magic science-fiction-fantasi ...

In [150]:
def recommend(book_name):
    book_index = books[books['Book_Title'] == book_name].index[0]
    distances = similarity[book_index]
    books_list = sorted(list(enumerate(distances)),reverse = True, key = lambda x: x[1])[1:10]
    
    for i in books_list:
        print(books.iloc[i[0]].Book_Title)

In [ ]:
def fetch_poster(book_id):
    response = requests.get('https://covers.openlibrary.org/b/isbn/{}-M.jpg'.format(book_id))
    print(response)
    return response

def recommend(book):
    book_index = books[books['Book_Title'] == book].index[0]
    distances = similarity[book_index]
    books_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:10]

    recommended_books = []
    recommended_books_posters = []

    for i in books_list:
        books_id = i[0]
        recommended_books.append(books.iloc[i[0]].Book_Title)
        # fetch poster from API
        recommended_books_posters.append(fetch_poster(books.iloc[i[0]].ISBN))
    return recommended_books, recommended_books_posters

In [155]:
import requests

In [ ]:
f"https://example.com/{number}/poster.jpg"

In [163]:
def fetch_poster(book_id):
    response = requests.get(f"'https://covers.openlibrary.org/b/isbn/{book_id}-M.jpg")
    print(response)
    return response

In [166]:
fetch_poster(1416909427)

InvalidSchema: No connection adapters were found for "'https://covers.openlibrary.org/b/isbn/1416909427-M.jpg"

In [151]:
recommend('pride and prejudice')

evelina
oliver twist
the mayor of casterbridge
jane eyre
far from the madding crowd
the complete novels
great expectations
a tale of two cities
the forsyte saga the forsyte chronicles 13

In [136]:
import pickle

In [137]:
pickle.dump(books, open('books.pkl', 'wb'))

In [138]:
books['Book_Title'].values

array(['the hunger games the hunger games 1',
       'harry potter and the order of the phoenix harry potter 5',
       'twilight twilight 1', ..., 'shug', 'flawed',
       'legacy of the drow collectors edition legacy of the drow 14 legend of drizzt 710'],
      dtype=object)

In [140]:
pickle.dump(books.to_dict(), open('books_dict.pkl', 'wb'))

In [142]:
pickle.dump(similarity, open('books_similarity.pkl', 'wb'))

In [167]:
books

,ISBN,Book_Title,Year,Genres
0,0439023483,the hunger games the hunger games 1,2008,young-adult science-fict dystopia fantasi scie...
1,0439358078,harry potter and the order of the phoenix harr...,2003,fantasi young-adult fiction fantasi magic chil...
2,0316015849,twilight twilight 1,2005,young-adult fantasi romanc paranorm vampir fic...
3,0061120081,to kill a mockingbird,1960,classic fiction historical-fict academ school ...
4,0679783261,pride and prejudice,1813,classic fiction romanc historical-fict literat...
...,...,...,...,...
5992,0393062260,the book of psalms,2007,poetri religion christian religion theolog ref...
5993,0767913736,the river of doubt,2005,histori non-fict biographi adventur book-club ...
5994,1416909427,shug,2006,young-adult realistic-fict romanc contemporari...
5995,1620612321,flawed,2012,contemporari romanc young-adult sociolog abus ...
5996,0786929081,legacy of the drow collectors edition legacy o...,2001,fiction fantasi magic science-fiction-fantasi ...

In [168]:
books.to_csv('books_data', index = False)